# python==3.6
fastdtw==0.3.4
future==0.18.2
gensim==3.8.1
matplotlib==3.3.4
networkx==2.4
olefile==0.46
pandas==1.1.5
pytz==2021.3
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
smart-open==5.2.1
threadpoolctl==3.0.0
torch==1.7.0+cu110
torchaudio==0.9.0a0+a85b239
torchvision==0.10.1
tqdm==4.62.3