<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 4</title>
    <script src='./lib/vue.global.js'></script>
</head>
<body>
    <div id='root'></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                inputValue: '',
                list: []
            }
        },methods: {
            handleAdditem() {
                this.list = [...this.list, this.inputValue];
                this.inputValue = ''
            }
        },
        template: `
        <div>
            <input v-model='inputValue'>
            <button @click='handleAdditem'>增加</button>
            <ul>
               <todo-item v-for='(item, index) of list' 
                          :content='item'
                          :index='index' />
            </ul>
        </div>
        `
    })

    app.component('todo-item', {
        props: ['content', 'index'],
        template: `<div>{{index}} -- {{content}}</div>`
    })

    app.mount('#root')
</script>
</html>