.item-enter {
    opacity: 0;
    transform: scale(.6);
}

.item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.item-enter-done {

}

.item-exit {
    opacity: 1;
    transform: scale(1);
}

.item-exit-active {
    opacity: 0;
    transform: scale(.6);
    transition: opacity 300ms, transform 300ms;
}

.item-exit-done {
    opacity: 0;
}