.card-enter, .card-appear {
    opacity: 0;
    transform: scale(.6);
}

.card-enter-active, .card-appear-active {
    opacity: 1;
    transform: scale(1);
    /* 动画为：opacity，执行300ms, transform也要有动画 300ms */
    transition: opacity 300ms, transform 300ms;
}

.card-enter-done, .card-appear-done {

}

.card-exit {
    opacity: 1;
    transform: scale(1);
}

.card-exit-active {
    opacity: 0;
    transform: scale(.6);
    transition: opacity 300ms, transform 300ms;
}

.card-exit-done {
    opacity: 0;
}