.btn-enter {
    opacity: 0;
    transform: translateX(100%);
}

.btn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.btn-exit {
    opacity: 1;
    transform: translateX(0);
}

.btn-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms;
}