### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# my files
*.pth
pre_img/*
.ipynb_checkpoints
class_indices.json
backup
runs
*.gif
flower_data.zip